table {
  border-collapse: collapse;
  width: 75vmin;
  max-width: 20rem;
  height: 75vmin;
  max-height: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table, th, td {
  border: 1px solid #000;
}

th, td {
  width: 33%;
  height: 33%;
}

#output {
  font-weight: 600;
}